body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('../images/bg.jpg');
  background-repeat: repeat;
}
* {box-sizing: border-box}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 12px;
  display: block;
  border : inset;
  /* border-right-color : #84817a;
  border-bottom-color : #84817a;
  border-radius: 20px; */
  background : #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  background-color: #ddd;
  color: black;
  outline: none;
}

select {
  width: 100%;
  padding: 5px;
  border : inset;
  border-radius: 5px;
  background : #f1f1f1;
}


select:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
span{
  color: black;
  /* background-color: green; */
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  border-radius: 5px;
  cursor:grabbing;
}

/* label{
  color: #ddd;
} */

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: rgb(0, 0, 0);
  padding: 8px 0 10px 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

fieldset {
  /* background-image: linear-gradient(#0984e3, #7efff5); */
  background-color: #ffffff;
  margin-top: 60px;
  margin-left: 380px;
  margin-right: 380px;
  margin-bottom: 60px;
  padding-left: 75px;
  padding-top: 30px;
  padding-right: 75px;
  padding-bottom: 30px;
  border: 1px solid #000000;
  border-radius: 10px;
}

.messages{
  font-size: 15px;
  text-align: center;
  margin-top: 23rem;
  height: 120px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #e4dddd;
  border-radius: 1em;
  /* background-color: rgb(241, 248, 246); */
  -webkit-box-shadow: 0px 5px 0px 0px #abcade, 10px 10px 0px 0px #b9d7eb, 15px 15px 0px 0px #9cb8cc, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 2px 9px 18px 50px rgba(0,0,0,0.1); 
box-shadow: 5px 5px 0px 0px #aac1d1, 10px 10px 0px 0px #b2d4eb, 15px 15px 0px 0px #889ead, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 2px 9px 18px 50px rgba(0,0,0,0);
}

.messages h3 b{
  font-family: Garamond, serif;
  font-size: 20px;
  text-align: center;
  
  
}

img {
  max-width: 50%;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.box-border{
  margin-top: 20px;
  padding-left: 75px;
  padding-top: 30px;
  padding-right: 75px;
  border: 2px solid #f1f1f1;
  border-radius: 50px;
}
/* Add padding to container elements */
.container {
  /* padding: 16px; */
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
  text-align: center;
}


@media screen and (min-width: 360px) {
  .fieldset {
    /* background-image: linear-gradient(#0984e3, #7efff5); */
    background-color: #ffffff;
    
    border: 1px solid #000000;
    border-radius: 20px;
    /* height: auto; */
    overflow: visible;
  }
}